<div class='actions' [ngClass]="{'p1': player===1, 'p2': player===2}">
	<ul>
		<li><label>Gold : {{ gold }}</label></li>
		<li><button class='health' (click)="upgradeHp()">+HP ({{ meleeModifier.maxHealth }})</button></li>
		<li><button class='attack' (click)="upgradeAtk()">+ATK ({{ meleeModifier.attack }})</button></li>
		<li><button class='speed' (click)="upgradeSpeed()">+Speed ({{ meleeModifier.maxSpeed }})</button></li>
		<li><button class='range' (click)="upgradeRange()">+Range ({{ meleeModifier.range }})</button></li>
	</ul>
</div>
<app-creep
	*ngFor="let creep of creeps"
	[data]="creep"
	[color]="this.color"></app-creep>
